<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/assets/info/css/info.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 树 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">资产列表</div>
            <div class="layui-card-body">
                <!-- 表格主体 -->
                <table class="layui-hide" id="assetsTable" lay-filter="test"></table>
                <!-- 模板 -->
                <script type="text/html" id="assetsTableToolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="addData">新增<i class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </script>
                <script type="text/html" id="assetsTableBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑<i class="layui-icon layui-icon-edit"></i></a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除<i class="layui-icon layui-icon-close"></i></a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">操作表单</div>
            <div class="layui-card-body">
                <form id="assetsForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产符号</label>
                        <div class="layui-input-block">
                            <input type="text" name="assetsSymbol" autocomplete="off" placeholder="资产符号"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="assetsName" autocomplete="off" placeholder="资产名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">中文名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="assetsNameZh" autocomplete="off" placeholder="中文名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产介绍</label>
                        <div class="layui-input-block">
                            <input type="text" name="assetsIntroduction" autocomplete="off" placeholder="资产介绍"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产官网</label>
                        <div class="layui-input-block">
                            <input type="text" name="assetsHome" autocomplete="off" placeholder="资产官网"
                                   class="layui-input">
                        </div>
                    </div>
<!--                    <div class="layui-form-item">-->
<!--                        <label class="layui-form-label">是否激活</label>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" name="assetsEnable"-->
<!--                                   th:attr="checked=${assets.assetsEnable ? true : false}" value="1" title="是"-->
<!--                                   >-->
<!--                            <input type="radio" name="assetsEnable"-->
<!--                                   th:attr="checked=${assets.assetsEnable ? false : true}" value="0" title="否"-->
<!--                                   >-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">最大数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="packetMax" autocomplete="off" placeholder="允许一个红包最大包数量"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最小数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="packetMin" autocomplete="off" placeholder="允许一个红包最小包数量"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最大金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="amountTotalMax" autocomplete="off" placeholder="允许一个红包最大金额"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最小金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="amountTotalMin" autocomplete="off" placeholder="允许一个红包最小金额"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">转账费用</label>
                        <div class="layui-input-block">
                            <input type="text" name="transactionFee" autocomplete="off" placeholder="一次转账的费用"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">服务费用</label>
                        <div class="layui-input-block">
                            <input type="text" name="serviceFeeMin" autocomplete="off" placeholder="发每个红包的最低服务费用"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">服务费率</label>
                        <div class="layui-input-block">
                            <input type="text" name="serviceFeeRate" autocomplete="off" placeholder="每个红包的服务费比例"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">收款地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="serviceFeeAddress" autocomplete="off" placeholder="服务费收款地址"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">区块高度</label>
                        <div class="layui-input-block">
                            <input type="text" name="lastBlockHeight" autocomplete="off" placeholder="最新区块高度"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">区块时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="lastBlockTime" autocomplete="off" placeholder="最新区块时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="createTime" autocomplete="off" placeholder="创建时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="updateTime" autocomplete="off" placeholder="更新时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>

                    <!-- 隐藏域 -->
                    <input type="text" name="assetsId" hidden="hidden"/>
                </form>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" onclick="assetsFormSave()">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/assets/info/js/info.js}"></script>
</html>